<!-- 一般情况 maven 的通用 settings.xml 在 .m2 文件夹下, 项目内 settings.xml 也可以进行设置，优先级更高 -->
<settings>
    <!-- omitted xml -->
    <!-- 请妥善保管好您的配置，不要随意分享给他人 -->
    <servers>
        <server>
            <id>g-fptq2613-ruoyi-ruoyi</id>
            <username>ruoyi-1715664355797</username>
            <password>990ba4de10288642f0821ac84bbab3d12cd19f2e</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>nexus-tencentyun</id>
            <!-- 此配置避免了本仓库制品的拉取流量被切换到腾讯云镜像源，保证您在使用镜像加速的同时可以从本仓库拉取制品 -->
            <mirrorOf>!g-fptq2613-ruoyi-ruoyi</mirrorOf>
            <name>Nexus tencentyun</name>
            <url>http://mirrors.cloud.tencent.com/nexus/repository/maven-public/</url>
        </mirror>
    </mirrors>
</settings>
